.section-layout {
    max-width: 1312px;
    margin: 0 auto;
}
.section-layout.flex {
    display: flex;
    gap: 32px;
}

.section-layout.padding-top {
    padding-top: 80px;
}

.section-layout.padding-bottom {
    padding-bottom: 80px;
}
