.quote__wrapper {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    align-items: start;
    gap: 24px;
}

.quote__wrapper.right {
    flex-direction: row-reverse;
    text-align: right;
}

.quote__wrapper.right .quotation-mark__wrapper {
    transform: scale(-100%);
}

.quotation-mark__wrapper {
    flex: 1;
}

.quote-text__wrapper {
    flex: 2;
}

.quote-text__wrapper blockquote {
    margin: 0;
    margin: 16px 0;
}
