button.button {
    background: transparent;
    padding: 8px 16px;
    border: 3px solid var(--color-fg);
    color: var(--color-fg);
    border-top-left-radius: 30px 20px;
    border-top-right-radius: 25px 28px;
    border-bottom-right-radius: 28px 18px;
    border-bottom-left-radius: 22px 26px;
    cursor: pointer;
}

button.button:hover {
    background: var(--color-fg);
    color: var(--color-bg);
}

button.button p {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}
