.squiggle-divider__wrapper {
    padding: 124px 0;
}

.squiggle__path {
    stroke-dasharray: 5000;
    stroke-dashoffset: 5000;
}

.visible .squiggle__path {
    animation: draw 5s ease-in-out forwards;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

@media only screen and (max-width: 640px) {
    .squiggle-divider__wrapper {
        padding: 80px 0;
    }
}
