/* TODO: consistency between hover and focus-visible states */

.navigation-wrapper {
    background-color: #6f42c1;
    width: 64px;
    padding: 8px;
    box-sizing: border-box;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    overflow: hidden;
    transition: all 0.75s ease;
    align-content: center;
}

.mobile__navigation-wrapper {
    display: none;
}

.navigation-wrapper ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 8px;
}

.navigation-wrapper a {
    text-decoration: none;
}

.navigation-wrapper li.nav-item__wrapper .navigation-button {
    background: none;
    outline: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    text-wrap: nowrap;
    color: #f5f5f5;
    transition: font-weight 0.75s ease;
}

.navigation-wrapper .navigation-button svg {
    stroke-width: 10;
    stroke: #f5f5f5;
    min-width: 48px;
    width: 48px;
    transition: rotate 0.5s ease;
}

.navigation-wrapper .navigation-button:focus-visible svg {
    outline: #cdb1ff 2px dashed;
    outline-offset: 2px;
    border-radius: 50%;
    rotate: 0deg;
    position: relative;
    z-index: 1;
}

@media only screen and (hover: hover) {
    .navigation-wrapper:hover {
        width: 180px;
        box-shadow: 2px -1px 10px #242424;
    }

    .navigation-wrapper li.nav-item__wrapper .navigation-button:hover p {
        font-weight: 500;
    }

    .navigation-wrapper li.nav-item__wrapper .navigation-button:hover svg {
        rotate: 20deg;
        transition: rotate 0.5s ease;
    }
}

@media screen and (max-width: 1024px) {
    .navigation-wrapper {
        width: 100%;
        height: 64px;
        top: auto;
        bottom: 0;
    }

    .navigation-wrapper:hover {
        box-shadow: none;
    }

    .navigation-wrapper:hover {
        width: 100%;
    }

    .navigation-wrapper ul {
        flex-direction: row;
        justify-content: center;
        height: 100%;
    }

    .navigation-wrapper li.nav-item__wrapper .navigation-button {
        gap: 0;
    }

    .navigation-wrapper li.nav-item__wrapper p {
        display: none;
    }
}

@media screen and (max-width: 432px) {
    .mobile__navigation-wrapper {
        position: fixed;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 64px;
        transition: height 0.75s ease;
    }

    .mobile__navigation-wrapper.open {
        height: fit-content;
        transition: height 0.75s ease;
    }

    .mobile__navigation-wrapper.navigation-wrapper ul {
        flex-direction: column;
        gap: 8px;
        padding-top: 48px;
        opacity: 0;
        transition: opacity 0.75s ease;
    }

    .mobile__navigation-wrapper.open.navigation-wrapper ul {
        opacity: 1;
    }

    .mobile__navigation-wrapper li.nav-item__wrapper {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .mobile__navigation-wrapper li.nav-item__wrapper p {
        display: block;
        text-align: center;
    }

    .mobile__navigation-content {
        width: 100%;
    }

    .mobile__navigation-content .navigation-button svg {
        display: none;
    }

    .mobile__navigation-content .navigation-button .navigation-button__label {
        width: fit-content;
        display: flex;
        align-items: center;
        height: 48px;
    }

    .desktop__navigation-wrapper {
        display: none;
    }

    button.hamburger-button {
        position: absolute;
        top: 8px;
        align-self: flex-end;
        cursor: pointer;
        height: fit-content;
        z-index: 5;
    }
}
