/* TODO: consistency between hover and focus-visible states */

.navigation-wrapper {
    background-color: #6f42c1;
    width: 64px;
    padding: 8px;
    box-sizing: border-box;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    overflow: hidden;
    transition: all 0.75s ease;
    align-content: end;
}

.navigation-wrapper:hover {
    width: 180px;
    box-shadow: 2px -1px 10px #242424;
}

.navigation-wrapper ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 8px;
}

.navigation-wrapper li.nav-item__wrapper button {
    background: none;
    outline: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    text-wrap: nowrap;
    color: #f5f5f5;
    transition: font-weight 0.75s ease;
}

.navigation-wrapper button svg {
    stroke-width: 10;
    stroke: #f5f5f5;
    min-width: 48px;
    width: 48px;
    transition: rotate 0.5s ease;
}

.navigation-wrapper li.nav-item__wrapper button:hover p {
    font-weight: 500;
}

.navigation-wrapper li.nav-item__wrapper button:hover svg {
    rotate: 20deg;
    transition: rotate 0.5s ease;
}

.navigation-wrapper button:focus-visible svg {
    outline: #cdb1ff 2px dashed;
    outline-offset: 2px;
    border-radius: 50%;
    rotate: 0deg;
    position: relative;
    z-index: 1;
}
