.phone-wrapper {
    --animation-speed: 0.5s;
}
.phone-wrapper {
    transform: rotate(5deg);
    transform-origin: center;
    transition: transform var(--animation-speed) ease;
}

.phone-wrapper.hovered {
    transform: rotate(8deg);
}

svg image.wyatt-phone__true-image {
    transform: translate(32px, 55px) scale(1.3);
    opacity: 0;
    transition: opacity var(--animation-speed) ease;
}

.phone-wrapper.hovered svg image.wyatt-phone__true-image {
    opacity: 1;
}

svg #wonky-wyatt {
    transform: translate(150px, 300px) scale(1.1);
    opacity: 1;
    transition: opacity var(--animation-speed) ease;
}

.phone-wrapper.hovered svg #wonky-wyatt {
    opacity: 0;
}

svg #wonky-wyatt .svg-filled {
    fill: #242424;
}
