.accordion-section {
    margin-top: 64px;
    position: relative;
    /* TODO: ADJUST HEIGHT WITH RESPONSIVITY */
    min-height: 425px;
}

.accordion-item {
    position: relative;
    cursor: pointer;
    margin-bottom: 32px;
}

.accordion-description {
    margin-top: 0px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.75s ease;
}

.accordion-item:focus-visible {
    outline: 2px dashed var(--color-fg);
    outline-offset: 16px;
}

.accordion-item:hover .accordion-description,
.accordion-item:focus-visible .accordion-description {
    margin-top: 24px;
    max-height: 200px;
    transition: all 0.75s ease;
}

.accordion-item:last-of-type {
    margin-bottom: 0;
}

.accordion-item.highlight-y:focus-visible .accordion-title,
.accordion-item.highlight-y:hover .accordion-title,
.accordion-item.highlight-y strong {
    color: var(--color-yellow);
}

.accordion-item.highlight-b:focus-visible .accordion-title,
.accordion-item.highlight-b:hover .accordion-title,
.accordion-item.highlight-b strong {
    color: var(--color-blue);
}

.accordion-item.highlight-p:focus-visible .accordion-title,
.accordion-item.highlight-p:hover .accordion-title {
    color: var(--color-pink);
}
