.accordion-section {
    margin-top: 64px;
    position: relative;
}

.accordion-item {
    position: relative;
    cursor: pointer;
    margin-bottom: 32px;
}

.accordion-title__yellow:hover {
    color: var(--color-yellow);
    transition: color 1s ease;
}

.accordion-description {
    margin-top: 0px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.75s ease;
}

.accordion-item:hover .accordion-description {
    margin-top: 24px;
    max-height: 200px;
    transition: all 0.75s ease;
}

.accordion-item:last-of-type {
    margin-bottom: 0;
}

.accordion-item.highlight-y .accordion-title:hover,
.accordion-item.highlight-y strong {
    color: var(--color-yellow);
}

.accordion-item.highlight-b .accordion-title:hover,
.accordion-item.highlight-b strong {
    color: var(--color-blue);
}

.accordion-item.highlight-p .accordion-title:hover {
    color: var(--color-pink);
}

.underline {
    position: absolute;
    height: 6px;
    background: var(--color-yellow);
    width: 100%;
    transition: top 0.3s ease;
    left: 0;
}
