.accordion-section {
    margin-top: 64px;
    position: relative;
}

.accordion-item {
    position: relative;
    cursor: pointer;
    margin-bottom: 32px;
}

.accordion-title__yellow:hover {
    color: var(--color-yellow);
    transition: color 1s ease;
}

.accordion-description {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.75s ease; /* Smooth transition */
}

.accordion-item:hover .accordion-description {
    max-height: 300px; /* Arbitrarily large value */
    transition: max-height 0.75s ease;
}

.accordion-item:last-of-type {
    margin-bottom: 0;
}

.underline {
    position: absolute;
    height: 6px;
    background: var(--color-yellow);
    width: 100%;
    transition: top 0.3s ease;
    left: 0;
}
