.section-header {
    opacity: 0;
    transform: translateX(-200px);
    transition: transform 1s ease, opacity 1s ease;
}

.section-header.right-align {
    transform: translateX(200px);
}

.section-header.visible,
.section-header.right-align.visible {
    opacity: 1;
    transform: translateX(0);
    transition: transform 1s ease;
}

@media (prefers-reduced-motion: reduce) {
    .section-header.visible,
    .section-header.right-align.visible {
        transition: none;
        transform: translateX(0);
    }
}

@media only screen and (max-width: 432px) {
    .section-header {
        transform: translateX(-100px);
    }
    .section-header.right-align {
        transform: translateX(100px);
    }
}
