:root {
    --color-blue: #007bff;
}

.theme-light {
    --color-bg: #242424;
    --color-fg: #f5f5f5;
    --color-yellow: #ffa412;
    --color-purple: #6f42c1;
    --color-pink: #ff4888;
}

.theme-dark {
    --color-bg: #f5f5f5;
    --color-fg: #242424;
    --color-yellow: #ffc107;
    --color-purple: #af83ff;
    --color-pink: #ff0059;
}

body {
    margin: 0;
    background-color: var(--color-bg);
    color: var(--color-fg);
    transition: background-color 0.75s ease, color 0.75s ease;
}

body svg {
    stroke: var(--color-fg);
    fill: none;
    transition: stroke 0.75s ease;
}
