.webchat-container {
    display: flex;
    align-items: flex-start;
    position: relative;
}

.webchat-section .section-header h2 {
    padding-bottom: 0;
}

/* PARAGRAPHS */

.webchat-section__text {
    width: 60%;
    margin-left: auto;
}

/* Makes text scroll away at same time as laptop */
.webchat-section__text::after {
    content: '';
    display: block;
    height: 20vh;
}

.webchat-section__paragraph-wrapper {
    height: 80vh;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity 0.75s ease;
}

.webchat-section__paragraph-wrapper:first-of-type {
    height: 70vh;
}

.webchat-section__paragraph-wrapper:last-of-type {
    height: 100vh;
}

.webchat-section__paragraph-wrapper.visible {
    opacity: 1;
    transition: opacity 0.75s ease;
}

/* LAPTOP */

@keyframes fadeInContent {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.laptop__wrapper svg .screen-content__element {
    opacity: 0;
    animation: fadeInContent 1s cubic-bezier(0.32, 0, 0.67, 0) forwards;
}

.laptop__wrapper {
    position: sticky;
    top: 64px;
    width: 80%;
    height: 100vh;
}

.laptop__wrapper svg {
    width: 150%;
    position: relative;
    left: -30%;
    top: 5%;
}

/* SPEECH BUBBLES */

@keyframes bubbleAppearFromRight {
    0% {
        opacity: 0;
        transform: translateX(75%) translateY(20%) scale(0.3);
    }
    90% {
        opacity: 1;
        transform: translateX(0) translateY(0) scale(1);
    }
    100% {
        opacity: 1;
        transform: translateX(0) translateY(0) scale(1);
    }
}

@keyframes bubbleAppearFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-75%) translateY(75%) scale(0.3);
    }
    90% {
        opacity: 1;
        transform: translateX(0) translateY(0) scale(1);
    }
    100% {
        opacity: 1;
        transform: translateX(0) translateY(0) scale(1);
    }
}

.speech-bubble {
    animation-fill-mode: both;
    transform: translate(-75%, 20%);
}

.speech-bubble__right {
    animation: bubbleAppearFromRight 2s cubic-bezier(0.165, 0.84, 0.44, 1)
        alternate infinite;
}

.speech-bubble__left {
    animation: bubbleAppearFromLeft 2s cubic-bezier(0.165, 0.84, 0.44, 1)
        alternate infinite;
}

@media (prefers-reduced-motion: reduce) {
    .speech-bubble__right,
    .speech-bubble__left {
        animation: none;
        transform: translateX(0) translateY(0) scale(1);
    }
}

#bubble1 {
    animation-delay: 0s;
}

#bubble2 {
    animation-delay: 0.5s;
}

/* GROWTH CHART */

.laptop__wrapper svg .chart-point {
    stroke: none;
    fill: var(--color-fg);
}

@keyframes drawLine {
    0% {
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
    }
    100% {
        stroke-dasharray: 1000;
        stroke-dashoffset: 0;
    }
}

.laptop__wrapper svg #line {
    animation: drawLine 5s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@media only screen and (max-width: 1024px) {
    .webchat-container .webchat-section__text {
        width: 75%;
        margin: 0 auto;
    }

    .webchat-container
        .webchat-section__text
        div.webchat-section__paragraph-wrapper {
        position: relative;
        z-index: 1;
    }

    .webchat-container
        .webchat-section__text
        div.webchat-section__paragraph-wrapper
        p {
        height: auto;
        background-color: rgba(0, 0, 0, 0.85);
        padding: 24px;
        border-radius: 16px;
    }

    .laptop__wrapper svg {
        width: 100%;
        left: 0;
    }
}

@media only screen and (max-width: 640px) {
    .laptop__wrapper {
        position: static;
        height: fit-content;
        margin-top: 24px;
    }

    .webchat-container .webchat-section__text {
        width: 100%;
    }

    .webchat-section__text::after {
        height: 0;
    }
}
