.code-window {
    position: relative;
    height: 700px;
    display: flex;
    flex-direction: column;
    border-radius: 32px;
    max-height: 524px;
}

.code-window,
.code-inner-window {
    border: 2px solid var(--color-fg);
    padding: 20px;
}

.code-inner-window {
    flex-grow: 1;
    overflow-y: auto;
    border-radius: 24px;
}

.code-window__tab__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(100% + 20px);
    min-height: 48px;
    padding-left: 20px;
    margin-bottom: 8px;
    margin-left: -20px;
    gap: 8px;
    overflow-x: scroll;
}

.code-window__tab {
    border-radius: 32px;
    padding: 4px 20px;
    text-align: center;
    border: 2px solid var(--color-fg);
    cursor: pointer;
    scrollbar-width: 0px;
}

.code-window__tab__container::after {
    content: '';
    width: 20px;
    flex-shrink: 0;
}

.code-window__tab:not(.active) {
    background-color: var(--color-bg);
    color: var(--color-fg);
}

.code-window__tab.active,
.code-window__tab:hover,
.code-window__tab:focus-visible {
    background-color: var(--color-fg);
    color: var(--color-bg);
    outline-offset: 4px;
}

.code-window p {
    font-family: monospace;
    font-size: 14px;
}

.theme-light .code-window pre .highlight-y {
    color: var(--color-blue);
}

.theme-light .code-window pre .highlight-b {
    color: var(--color-yellow);
}

pre.code-sample {
    width: fit-content;
}
